#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  transition: transform 300ms;
}

.logo:hover {
  transform: scale(1.05); /* Efecto ligero y fluido al pasar el cursor */
}

.logo.react:hover {
  transform: scale(1.05); /* Se mantiene el mismo efecto para React */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}